    <header class="pos-rel bg-near-white black bb b--light-gray">
      <div class="center mw7 phm phl-ns pvxl">
        <div class="title fr wi-100 tc">
          <h1 class="f1 ttu">$title$</h1>
          $if(subtitle)$
            <div class="f3">
              $subtitle$
            </div>
          $endif$
        </div>
        <div class="cr"></div>
      </div>
    </header>

      <main class="center mw7 phm phl-ns pvl">
        <section class="content lh-copy">
          $body$
        </section>
      </main>
