    <article class="excerpt post bb b--light-gray">
      <header class="pos-rel bg-near-white black bb b--light-gray">
        <div class="center mw7 phm phl-ns pvxl">
          <div class="title tc">
            <h1 class="f1 ttu">$title$</h1>
          </div>
          <div class="sidebar thin gray">
            <div class="published fl wi-100 wi-50-ns">
              <span class="book">Published</span>
              <time>$date$</time>
            </div>
            $if(tags)$
            <div class="tags fl wi-100 wi-50-ns">
              <span class="book">Tags</span>
              $tags$
            </div>
            $endif$
            <div class="cl"></div>
          </div>
        </div>
      </header>

      <main class="center mw7 phm phl-ns pvl">
        <section class="content lh-copy">

          $body$

        </section>
        <div class="center mw7 bb b--light-gray mvm"></div>
        <div class="share mw6 pvm center tc">
          Share this on <a id="twitter" href="http://twitter.com/share?text=$title$&amp;url=http://www.slogsdon.com$url$">Twitter</a>, <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.slogsdon.com$url$">Facebook</a> or <a id="google-plus" href="https://plus.google.com/share?url=http://www.slogsdon.com$url$">Google+</a>.
        </div>
        <div class="center mw7 bb b--light-gray mtm mbl"></div>
        <section class="author center mw6">
          <img src="//www.gravatar.com/avatar/033132c341296d7f5e5b41e871178418?d=404&amp;s=100" alt="Shane Logsdon" class="fl">
          <div class="info fr wi-60 wi-75-ns">
            <a href="/about/" class="name">Shane Logsdon</a>
            <p class="bio">
              A polyglot web developer. Current interests include
              Elixir/Erlang, Go, Haskell, Lua, and DevOps when necessary.
            </p>
            <p class="networks"></p>
            <ul>
              <li><a href="https://github.com/slogsdon" title="Follow me on GitHub">slogsdon on GitHub</a></li>
              <li><a href="https://twitter.com/shanelogsdon" title="Follow me on Twitter">shanelogsdon on Twitter</a></li>
              <li><a href="https://plus.google.com/+ShaneLogsdon" title="Follow me on Google+" rel="author">Shane Logsdon on Google+</a></li>
            </ul>
          </div>
          <div class="cb"></div>
        </section>
        <section class="comments center mw6">
          <a href="https://muut.com/i/slogsdon/comments" class="muut" type="dynamic">Comments</a>
          <script src="//cdn.muut.com/1/moot.min.js"></script>
        </section>
      </main>
    </article>
