$for(posts)$
    <main class="center mw7 phm phl-ns pvl">
      <section class="posts">
        <article class="excerpt post pvl bb b--light-gray">
          <div class="title">
            <h2 class="f2 book ttu"><a href="$url$">$title$</a></h2>
          </div>
          <div class="sidebar thin gray">
            <div class="published fl wi-100 wi-50-ns">
              <span class="book">Published</span>
              <time>$date$</time>
            </div>
            $if(tags)$
            <div class="tags fl wi-100 wi-50-ns">
              <span class="book">Tags</span>
              $tags$
            </div>
            $endif$
            <div class="cl"></div>
          </div>
          <div class="content lh-copy">
            <p>$if(excerpt)$$excerpt$$endif$</p>
          </div>
        </article>
      </section>
    </main>
$endfor$
