    <header class="animated fadeIn" $if(image)$style="background-image: url($image$)"$endif$>
      <div class="container" data-stellar-ratio="0.75">
        <div class="title animated fadeInUp">
          <h1>$title$</h1>
          <div class="share">
              Share this on <a id="twitter" href="http://twitter.com/share?text=$title$&amp;url=http://www.slogsdon.com$url$">Twitter</a>, <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.slogsdon.com$url$">Facebook</a> or <a id="google-plus" href="https://plus.google.com/share?url=http://www.slogsdon.com$url$">Google+</a>.
          </div>
        </div>
        <div class="sidebar text-right meta">
          <div class="published animated fadeInUp">
            <strong>Published</strong>
            <time>$date$</time>
          </div>
          $if(tags)$
            <span class="separator animated fadeInUp">//</span>  
            <div class="tags animated fadeInUp">
              <strong>Tags</strong>
              $tags$
            </div>
          $endif$
          <span class="separator animated fadeInUp">//</span>  
          <div class="tags animated fadeInUp">
            <strong>Commit</strong>
            $commit$
          </div>
        </div>
      </div>
    </header>

    <div class="push-article">
      <article class="animated fadeIn post">
        <div class="container">
        
          $body$

        </div>
      </article>
    </div>

    <div class="container">
      <div class="author animated fadeIn clearfix">
        <img src="//www.gravatar.com/avatar/033132c341296d7f5e5b41e871178418?d=404&amp;s=250" alt="Shane Logsdon">
        <div class="info">
          <a href="/about/" class="name">Shane Logsdon</a>
          <p class="bio">
            A polyglot web developer. Current interests include 
            Elixir/Erlang, Go, Haskell, Lua, and DevOps when necessary.
          </p>
          <p class="networks"></p>
          <ul>
            <li><a href="https://github.com/slogsdon" title="Follow me on GitHub">slogsdon on GitHub</a></li>
            <li><a href="https://twitter.com/shanelogsdon" title="Follow me on Twitter">shanelogsdon on Twitter</a></li>
            <li><a href="https://plus.google.com/+ShaneLogsdon?rel=author" title="Follow me on Google+">Shane Logsdon on Google+</a></li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>

    <section class="comments animated fadeInUp">
      <div class="container">
        <div class="column-large">
          <a href="https://muut.com/i/slogsdon/comments" class="muut" type="dynamic">Comments</a>
          <script src="//cdn.muut.com/1/moot.min.js"></script>
        </div>
      </div>
    </section>