<article class="page">
  <header class="header">
    <% if (!is_home()) { %>
      <h1 class="title lh-title f2 f1-l mt4 mb1 f1-l measure-wide"><%= page.title %></h1>
    <% } %>
  </header>

  <section class="content lh-copy">
    <section class="post-list">
      <% site.posts
          .filter(function (p) { return p.tags.filter(function (t) { return t.name === 'talk' }).length === 0 })
          .sort('date', 'desc').forEach(function (post) { %>
        <%- partial('_partial/post-listing', {post: post}) %>
      <% }) %>
    </section>
    <%- partial('_partial/classify-elements') %>
  </section>
</article>
