<article class="page">
  <header class="header">
    <% if (!is_home()) { %>
      <h1 class="title lh-title f2 f1-l mt4 mb1 f1-l measure-wide"><%= page.title %></h1>
    <% } %>
  </header>

  <section class="content lh-copy">
    <section class="presentation-list">
      <% site.posts
          .filter(function (p) { return p.tags.filter(function (t) { return t.name === 'talk' }).length })
          .sort('date', 'desc').forEach(function (presentation) { %>
        <%- partial('_partial/presentation-listing', {presentation: presentation}) %>
      <% }) %>
    </section>
    <p>Other presentations:</p>
    <ul>
      <li><a href="https://github.com/slogsdon?page=1&tab=repositories&utf8=%E2%9C%93&q=presentation">On GitHub</a></li>
      <li><a href="https://speakerdeck.com/slogsdon">On SpeakerDeck</a></li>
    </ul>
    <%- partial('_partial/classify-elements') %>
  </section>
</article>
