<article class="page">
  <header class="header">
    <% if (!is_home()) { %>
      <h1 class="title lh-title f2 f1-l mt4 mb1 f1-l measure-wide"><%= page.title %></h1>
    <% } %>
  </header>

  <section class="content lh-copy">
    <section class="project-list">
      <% site.data.projects.forEach(function (project) { %>
        <%- partial('_partial/project-listing', {project: project}) %>
      <% }) %>
    </section>
    <p>Find more under <a href="https://github.com/<%= config.github.username %>">my GitHub profile</a>.
    <%- partial('_partial/classify-elements') %>
  </section>
</article>
