<article class="presentation">
  <header class="header">
    <h1 class="title lh-title f2 f1-l mt4 mb1 f1-l measure-wide"><%= page.title %></h1>
    <div class="presentation-meta f6 black-50">
      Location: <%= page.location || 'Unknown' %><br>
      <% if (page.tags.filter(function (t) { return t.name === 'workshop' }).length) { %>Workshop Led<% } else { %>Presented<% } %>: <%= date(page.date, 'MMM Do, YYYY') %>
    </div>
  </header>

  <section class="content lh-copy">
    <%- page.content || body %>
    <% partial('_partial/classify-elements') %>
  </section>
</article>
