/* VARIABLES*/
@import 'tachyons-colors';

/* TYPOGRAPHY */
@import 'tachyons-font-family';
@import 'tachyons-font-weight';
@import 'tachyons-line-height';
@import 'tachyons-text-align';
@import 'tachyons-type-scale';
@import 'tachyons-typography';
@import 'tachyons-vertical-align';

/* LAYOUT */
@import 'tachyons-display';
@import 'tachyons-spacing';
@import 'tachyons-widths';

/* THEMING */
@import 'tachyons-borders';
@import 'tachyons-border-colors';
@import 'tachyons-skins';

/* ELEMENTS */
@import 'tachyons-lists';

/* ADDITIONAL */
code { color: #990073; }
pre { overflow: auto; word-wrap: normal; white-space: pre; }
pre > code { color: #000; }
.bw4 { border-width: 1rem; }
.tj { text-align: justify; }

/* Highlight.js - GitHub Gist */
/* Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro */
/**
 *  Modifications
 *  - .hljs -> .highlight
 *  - .hljs- -> .highlight .
 *  Additions
 *  - .highlight table
 *  - .highlight .gutter
 *  - .highlight .code
 */

.highlight {
  display: block;
  background: #eeeeee;
  padding-left: 1rem;
  color: #333333;
  overflow: auto; word-wrap: normal; white-space: pre;
  font-size: 1.2rem;
  margin-right: 0;
  margin-left: 0;
}

.highlight table {
  border-collapse: collapse;
  width: 100%;
}

.highlight .gutter {
  padding-right: 1rem;
}

.highlight .code {
  background: #fafafa;
  padding-left: 1rem;
}

.highlight .line {
  min-height: 1.5rem;
}

.highlight .comment,
.highlight .meta {
  color: #969896;
}

.highlight .string,
.highlight .variable,
.highlight .template-variable,
.highlight .strong,
.highlight .emphasis,
.highlight .quote {
  color: #df5000;
}

.highlight .keyword,
.highlight .selector-tag,
.highlight .type {
  color: #a71d5d;
}

.highlight .literal,
.highlight .symbol,
.highlight .bullet,
.highlight .attribute {
  color: #0086b3;
}

.highlight .section,
.highlight .name {
  color: #63a35c;
}

.highlight .tag {
  color: #333333;
}

.highlight .title,
.highlight .attr,
.highlight .selector-id,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo {
  color: #795da3;
}

.highlight .addition {
  color: #55a532;
  background-color: #eaffea;
}

.highlight .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.highlight .link {
  text-decoration: underline;
}
