{% assign index_url = page_url index | prepend: '/' %}
{% unless page.url == index_url %}
  <h2 class="title">{{ site.title }}</h2>
{% endunless %}

<h3 class="subtitle">{{ site.subtitle }}</h3>
<p>{{ site.description }}</p>

<ul class="contact-list">
  <li>Email me: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  {% if site.github_username %}
    <li>
      Develop with me:
      <a href="https://github.com/{{ site.github_username }}" title="GitHub">{{ site.github_username }}</a>
    </li>
  {% endif %}
  {% if site.twitter_username %}
    <li>
      Tweet me:
      <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">{{ site.twitter_username }}</a>
    </li>
  {% endif %}
</ul>
