<script>
    var classes = {
        /* anchors */
        '.content a': [
            'black-70'
        ],
        /* content */
        '.content > p:first-of-type': [
            'f4'
        ],
        '.content p, .content ul, .content ol': [
            'measure'
        ]
    };
    for (var selector in classes) {
        if (!classes.hasOwnProperty(selector)) {
            continue;
        }

        var contents = document.querySelectorAll(selector);
        Array.prototype.slice.call(contents).map(function (el) {
            classes[selector].map(function (klass) {
                el.classList.add(klass);
            });
        });
    }
</script>