<header class="header w-100 w-20-l dib-ns v-top-ns tc f6 lh-copy">
  <div class="mv4">
    <a href="{{ '/' | prepend: site.baseurl }}" class="f3 b black-70" title="Home">
      {{ site.title }}
      <div class="mv1">
        <small class="f6 normal">{{ site.subtitle }}</small>
      </div>
    </a>
  </div>

  <p class="description mh3">{{ site.description }}</p>

  <nav class="interaction-nav">
    <ul class="contact-list list tl">
      <li class="">Email me: <a href="mailto:{{ site.email }}" target="_blank" class="black-70">{{ site.email }}</a></li>
      {% if site.github.username %}
        <li class="">
          Develop with me:
          <a href="https://github.com/{{ site.github.username }}" target="_blank" title="GitHub" class="black-70">{{ site.github.username }}</a>
        </li>
      {% endif %}
      {% if site.twitter.username %}
        <li class="">
          Tweet me:
          <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" title="Twitter" class="black-70">{{ site.twitter.username }}</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <nav class="page-nav">
    <ul class="list tl">
      {% assign pages = site.pages | sort: 'menu_weight' %}
      {% for p in pages %}
        {% if p.menu_hidden %}{% continue %}{% endif %}
        {% if p.title %}
          {% capture title %}
            {% if p.menu_label %}
              {{ p.menu_label }}
            {% else %}
              {{ p.title }}
            {% endif %}
          {% endcapture %}
          <li><a class="page-link black-70 mr3" href="{{ p.url | prepend: site.baseurl }}">{{ title | strip }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
