<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

{% comment %}
  title and description in seo tag below
{% endcomment %}
{% seo %}

<style type="text/css">
  {% capture scss %}
    {% include main.scss %}
  {% endcapture %}
  {{ scss | scssify }}
</style>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
