<header class="header w-100 w-20-l dib-ns v-top-ns tc f6 lh-copy mt3 mt1-l ml3-l fl-l bt b--black-10 bn-l">
  <div class="mv4 mv5-l">
    <a href="{{ '/' | prepend: site.baseurl }}" class="f4 f3-l b black-70" title="Home" id="menu">
      {{ site.title }}
      <div>
        <small class="f6 normal">{{ site.subtitle }}</small>
      </div>
    </a>
  </div>

  <nav class="page-nav mv4 mv5-l bt bb b--black-10">
    <ul class="list">
      {% assign pages = site.pages | sort: 'menu_weight' %}
      {% for p in pages %}
        {% if p.menu_hidden %}{% continue %}{% endif %}
        {% if p.title %}
          {% capture title %}
            {% if p.menu_label %}
              {{ p.menu_label }}
            {% else %}
              {{ p.title }}
            {% endif %}
          {% endcapture %}
          <li class="di"><a class="page-link black-70 mr3" href="{{ p.url | prepend: site.baseurl }}">{{ title | strip }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <p class="description ma3 mv4-l">{{ site.description }}</p>

  <nav class="interaction-nav mv3 pb3">
    <ul class="contact-list list tl">
      <li class="mv1">Email me: <a href="mailto:{{ site.email }}" target="_blank" class="black-70">{{ site.email }}</a></li>
      {% if site.github.username %}
        <li class="mv1">
          Develop with me:
          <a href="https://github.com/{{ site.github.username }}" target="_blank" title="GitHub" class="black-70">{{ site.github.username }}</a>
        </li>
      {% endif %}
      {% if site.twitter.username %}
        <li class="mv1">
          Tweet me:
          <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" title="Twitter" class="black-70">{{ site.twitter.username }}</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
