<header class="header">
  <nav class="nav">
    {% assign pages = site.pages | sort: 'menu_weight' %}
    {% for p in pages %}
      {% if p.title %}
        {% capture title %}
          {% if p.menu_label %}
            {{ p.menu_label }}
          {% else %}
            {{ p.title }}
          {% endif %}
        {% endcapture %}
        <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ title | strip }}</a>
        {% unless forloop.last %}<span class="sep">•</span>{% endunless %}
      {% endif %}
    {% endfor %}
  </nav>
</header>
