@charset "utf-8";

$font: 'Palatino', 'Didot', serif;
$body-font: $font;
$header-font: $font;
$accent-color: #bbb;
$code-font-color: #990073;
$page-width: 40em;

@import 'mixins',
        'base',
        'laptop',
        'syntax-highlighting'
;
