@charset "utf-8";

$body-font: caption;
$header-font: 'Palatino', 'Didot', serif;
$accent-color: #bbb;
$code-font-color: #990073;
$page-width: 40em;

@import 'mixins',
        'base',
        'syntax-highlighting'
;
