{% assign presentation = include.presentation %}

<article class="presentation">
  <h2 class="mb1">
    <a class="presentation-link black-70" href="{{ presentation.url }}">
      {{ presentation.title }}
    </a>
  </h2>
  <div class="presentation-meta f6 black-50">
    Location: {{ presentation.location | default: 'Unknown' }}<br>
    {% if presentation.tags contains "workshop" %}Workshop Led{% else %}Presented{% endif %}: {{ presentation.date | date: '%b %-d, %Y' }}
  </div>
  <p class="presentation-description">{{ presentation.description }}</p>
</article>
