html {
  font-family: $body-font;
  font-size: 18px;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 { font-family: $header-font; }

code.highlighter-rouge { color: $code-font-color; }
.highlight { white-space: pre; overflow: auto }

.header {
  border-bottom: 1px solid #000;
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  width: 100%;
}

.sub-header { padding: 0 .5em; }

.content {
  margin: 0 auto;
  max-width: $page-width;

  .header {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.post .content {
  .subtitle { text-align: center; }
}

.sep {
  padding: 0 .5em;
}

.meta {
  &.tags {
    background-color: #f9f9f9;
    padding: 0.75em;
    text-align: center;

    .sep { padding: 0; }
  }
}

blockquote {
  border-left: 6px solid $accent-color;
  margin-left: 17px;
  padding-left: 17px;
}

.rss-subscribe {
  background-color: #f9f9f9;
  padding: 0.75em;
  text-align: center;
}

.contact-list {
}

.footer {
  margin: 0 auto;
  max-width: $page-width;

  .title, .subtitle {
    text-align: center;
  }
}

.hidden { display: none; }
