<footer class="footer mv4 <% if (pos === 'top') { %>dn db-l<% } else { %>db dn-l<% } %>">
  <p class="copyright dib mr3">
    <small>&copy; <%= date(new Date(), 'YYYY') %> Shane Logsdon</small>
  </p>

  <p class="rss-subscribe mr3 dib">
    <small>subscribe <a href="<%- url_for('/feed.xml') %>" class="black-70">via RSS</a></small>
  </p>

  <p class="toggle-ligatures mr3 dib">
    <small><a href="javascript:toggleLigatures();" class="black-70">toggle code ligatures</a></small>
    <script>
      function toggleLigatures() {
        if (-1 === document.body.className.indexOf('fira-code')) {
          document.body.className += ' fira-code';
          return;
        }

        document.body.className = document.body.className.replace(' fira-code', '');
      }
    </script>
  </p>
</footer>
