<article class="post">
  <h2 class="mb1">
    <a class="post-link black-70" href="<%- url_for(post.path) %>"><%= post.title %></a>
  </h2>
  <span class="post-meta f6 black-50">Published: <%- date(post.date, 'MMM Do, YYYY') %></span>
  <% if (post.description) { %>
    <p class="post-description"><%= post.description %></p>
  <% } %>
</article>
