.container {
  margin: 10rem auto;
  max-width: 650px;
  padding: 0 .5rem;
}

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
  line-height: 2rem;
}

.menu {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.menuItem {
  display: inline;
  font-size: 1.5rem;
  margin-right: .75rem;
}
