<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% if page.title %}{% if page.title %}{{ page.title }} - {{ site.name }}{% else %}Shane Logsdon - Polyglot Web Developer{% endif %}{% else %}Shane Logsdon - Polyglot Web Developer{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | strip_html }}&hellip;" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }} - {{ site.name }}{% else %}Shane Logsdon - Polyglot Web Developer{% endif %}">
    <meta itemprop="description" content="{{ page.excerpt | strip_html }}&hellip;">
    <!-- <meta itemprop="image" content="http://www.example.com/image.jpg"> -->
    <!-- Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.name }}{% else %}Shane Logsdon - Polyglot Web Developer{% endif %}"> 
    <meta property="og:description" content="{{ page.excerpt | strip_html }}&hellip;"> 
    <meta property="og:type" content="article">
    {% if page %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}/">
    {% else %}
        <meta property="og:url" content="{{ site.url }}/">
    {% endif %}
    <!-- <meta property="og:image" content="http://www.your-site.com/image.jpg"> -->
    <meta property="og:site_name" content="{% if page.title %}{{ page.title }} - {{ site.name }}{% else %}Shane Logsdon - Polyglot Web Developer{% endif %}&hellip;">
    <!-- Twitter -->
    <meta property="twitter:account_id" content="4503599629413740" />
    <meta name="twitter:card" content="summary">
    {% if page %}
        <meta property="twitter:url" content="{{ site.url }}{{ page.url }}/">
    {% else %}
        <meta property="twitter:url" content="{{ site.url }}/">
    {% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {{ site.name }}{% else %}Shane Logsdon - Polyglot Web Developer{% endif %}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}&hellip;">
    <!-- <meta name="twitter:image" content="http://example.com/image.jpg"> -->
    <meta name="author" content="Shane Logsdon">

    <link href="{{ site.url }}/" rel="canonical" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed/atom.xml" title="RSS feed">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40131422-3', 'logsdon.io');
      ga('send', 'pageview');

    </script>
    <script src="//widget.battleforthenet.com/widget.min.js" async></script>
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="http://www.gravatar.com/avatar/033132c341296d7f5e5b41e871178418.png" alt="Shane Logsdon" />
            shane logsdon
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/slogsdon">projects</a></li>
            <li><a href="/archive/">archive</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="/contact/">contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  
    {{ content }}
  
    <!-- +++++ Footer Section +++++ -->
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <h4>My Bunker</h4>
            <p>
              Louisville, KY<br/>
              40222<br/>
              United States
            </p>
          </div><!-- /col-lg-4 -->
          
          <div class="col-lg-4 col-md-4 col-sm-4">
            <h4>My Links</h4>
            <p>
              <a href="https://github.com/slogsdon">GitHub</a><br/>
              <a href="https://twitter.com/shanelogsdon">Twitter</a><br/>
              <a href="https://plus.google.com/113806970247389478397?rel=author">Google+</a><br />
              <a href="https://keybase.io/slogsdon">Keybase</a>
            </p>
          </div><!-- /col-lg-4 -->
          
          <div class="col-lg-4 col-md-4 col-sm-4">
            <h4>About Shane</h4>
            <p>A polyglot web developer. Current interests include Elixir, Go, MVC4, PHP frameworks (Phalcon and Laravel), and DevOps when necessary.</p>
            <p>Works at <a href="http://www.blackstonemedia.com/">Blackstone Media</a> / <a href="http://www.starknine.com/">StarkNine</a> by day.</p>
          </div><!-- /col-lg-4 -->
        
        </div>
      
      </div>
    </footer>
  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdn.moot.it/latest/moot.min.js"></script>
    <script>
    (function (window, document, $, undefined) {
      $(document).ready(function () {
        setTimeout(function () {
          $('.m-replyform').addClass('m-focused');
        }, 750);
      });
    })(window, document, jQuery);
    </script>
  </body>
</html>
