---
layout: main
---

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="well info">
            <h2><a href="/">{{ site.name }}</a></h2>
            <p>{{ site.description }}</p>
            <nav class="connect hidden-phone">
                <p>You can connect with me via:</p>
                <ul class="nav hidden-phone">
                    <li><a href="http://www.linkedin.com/in/shanelogsdon" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://twitter.com/shanelogsdon" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/slogsdon" title="GitHub"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://stackoverflow.com/users/771757/shane-l" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="https://plus.google.com/113806970247389478397?rel=author" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://alpha.app.net/slogsdon" title="App.net"><i class="fa fa-adn"></i></a></li>
                    <li><a href="mailto:shane@logsdon.io" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="/feed/atom.xml" type="application/rss+xml" title="RSS"><i class="fa fa-rss"></i></a></li>
                </ul>
            </nav>
            <nav class="connect only-phone">
                <select class="form-control only-phone">
                    <option>Connect with me...</option>
                    <option value="http://www.linkedin.com/in/shanelogsdon">LinkedIn</option>
                    <option value="http://twitter.com/shanelogsdon">Twitter</option>
                    <option value="https://github.com/slogsdon">GitHub</option>
                    <option value="http://stackoverflow.com/users/771757/shane-l">Stack Overflow</option>
                    <option value="https://plus.google.com/113806970247389478397?rel=author">Google+</option>
                    <option value="https://alpha.app.net/slogsdon">App.net</option>
                    <option value="mailto:shane@logsdon.io">Email</option>
                    <option value="/feed/atom.xml">RSS</option>
                </select>
            </nav>
        </div>
        <div class="well categories">
            <h3 class="hidden-phone">Categories</h3>
            <nav class="hidden-phone">
                <ul class="nav">
                    <li><a href="/categories/devops/">
                        DevOps <span class="badge pull-right">{{ site.categories.devops.size }}</span>
                    </a></li>
                    <li><a href="/categories/elixir/">
                        Elixir <span class="badge pull-right">{{ site.categories.elixir.size }}</span>
                    </a></li>
                    <li><a href="/categories/erlang/">
                        Erlang <span class="badge pull-right">{{ site.categories.erlang.size }}</span>
                    </a></li>
                    <li><a href="/categories/golang/">
                        Golang <span class="badge pull-right">{{ site.categories.golang.size }}</span>
                    </a></li>
                    <li><a href="/categories/list/">
                        List <span class="badge pull-right">{{ site.categories.list.size }}</span>
                    </a></li>
                    <li><a href="/categories/net/">
                        .NET <span class="badge pull-right">{{ site.categories.net.size }}</span>
                    </a></li>
                    <li><a href="/categories/ruby/">
                        Ruby <span class="badge pull-right">{{ site.categories.ruby.size }}</span>
                    </a></li>
                </ul>
            </nav>
            <nav class="only-phone">
                <select class="form-control only-phone">
                    <option>Categories...</option>
                    <option value="/categories/devops/">
                        DevOps ({{ site.categories.devops.size }})
                    </option>
                    <option value="/categories/elixir/">
                        Elixir ({{ site.categories.elixir.size }})
                    </option>
                    <option value="/categories/erlang/">
                        Erlang ({{ site.categories.erlang.size }})
                    </option>
                    <option value="/categories/golang/">
                        Golang ({{ site.categories.golang.size }})
                    </option>
                    <option value="/categories/list/">
                        List ({{ site.categories.list.size }})
                    </option>
                    <option value="/categories/net/">
                        .NET ({{ site.categories.net.size }})
                    </option>
                    <option value="/categories/ruby/">
                        Ruby ({{ site.categories.ruby.size }})
                    </option>
                </select>
            </nav>
        </div>
        {% if site.related_posts %}
            <div class="well related-posts">
                <h3>Related Posts</h3>
                <nav>
                    <ul class="nav">
                        {% for post in site.related_posts limit:3 %}
                            <li><a href="{{ post.url }}">{{ post.title }} <time>&mdash; {{ post.date | date_to_string }}</time></a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>

    {{ content }}

</div>