---
layout: main
---

<!-- <main class="col-lg-7 col-md-8 col-sm-9" role="main"> -->

    <article id="page" class="full" itemscope itemType="http://schema.org/BlogPosting">
        <meta itemprop="inLanguage" content="en-US"/>
        <h1 itemprop="name">
            <a itemprop="url" href="{{ site.url }}{{ page.url }}/" title="permanent link">{{ page.title }}</a>
        </h1>
        <div class="page-details">
            <span>published <time itemprop="datePublished" content="{{ page.date }}">{{ page.date | date_to_string }}</time></span>
            <span>in <a href="/categories/{{ page.categories }}/">{{ page.categories }}</a></span>
        </div>
        <div class="page" itemprop="articleBody">
            {{ content }}
        </div>
    </article>

    <aside class="signature">
        <hr />
        <div class="engage">
            Have something to add? Comment below, 
            or <a href="mailto:shane@logsdon.io">shoot me an email</a>.
        </div>
        <div class="follow">
            Follow me on <a href="http://twitter.com/shanelogsdon">Twitter</a>
            or subscribe to <a href="/feed/atom.xml">RSS</a>.
        </div>
        <div class="share">
            Share this page on:
            <a class="fa fa-twitter" href="http://twitter.com/share?text={{ page.title }}&url=http://shane.logsdon.io{{ page.url }}/"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a>
            <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://shane.logsdon.io{{ page.url }}/"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="fa fa-google-plus" href="https://plus.google.com/share?url=http://shane.logsdon.io{{ page.url }}/"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
        </div>
        <hr />
    </aside>

    <a class="moot"
       href="/i/slogsdon/pages/{{ page.categories }}:{{ page.title | replace:"/[^a-zA-Z0-9 ]/","" | replace:"/[ ]+/"," " | replace:" ","-" | downcase }}'"
       data-show_online="true">
       Comments for this blog entry
    </a>

<!-- </main> -->
