---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="header">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ page.url | prepend: site.base_url | prepend: site.url }}">
    <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      <time datetime="{{ page.modified | default: page.date | date_to_xmlschema }}"
            itemprop="dateModified">
        {% if page.modified %}
          Modified: {{ page.modified | date: "%b %-d, %Y" }}
        {% endif %}
      </time>
      {% if page.author %}
        {% assign author = site.data.authors[page.author] %}
        <span class="sep">•</span>
        <span itemprop="author" itemscope
              itemtype="http://schema.org/Person">
          <span itemprop="name">{{ author.name }}</span>
        </span>
        <span itemprop="publisher" itemscope
              itemtype="http://schema.org/Organization">
          <meta itemprop="name" content="{{ author.name }}">
          <span itemprop="logo" itemscope
                itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="{{ author.picture }}">
            <meta itemprop="width" itemtype="https://schema.org/Distance" content="60">
            <meta itemprop="height" itemtype="https://schema.org/Distance" content="60">
          </span>
        </span>
        <span itemprop="image" itemscope
              itemtype="http://schema.org/ImageObject">
          <meta itemprop="url" content="{{ author.picture }}">
          <meta itemprop="width" itemtype="https://schema.org/Distance" content="60">
          <meta itemprop="height" itemtype="https://schema.org/Distance" content="60">
        </span>
      {% endif %}
    </p>
  </header>

  <section class="content" itemprop="articleBody">
    {{ content }}
  </section>

  <footer class="footer">
    {% if page.tags %}
      <p class="meta tags">
        <span class="label">#:</span>
        {% for tag in page.tags %}
          {% unless forloop.first %}<span class="sep">,</span>{% endunless %}
          <a href="{{ tag | slugify | append: '/' | prepend: '/tag/' | prepend: site.base_url }}">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </footer>
</article>
