---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="header">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ page.url | prepend: site.base_url | prepend: site.url }}">
    <h1 class="title lh-title f2 mt4 mb1 f1-l measure-wide" itemprop="name headline">{{ page.title }}</h1>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished" class="f6 black-50">
        Published: {{ page.date | date: "%b %-d, %Y" }}
      </time>
      <time datetime="{{ page.modified | default: page.date | date_to_xmlschema }}"
            itemprop="dateModified" class="f6 black-50">
        {% if page.modified %}
          Modified: {{ page.modified | date: "%b %-d, %Y" }}
        {% endif %}
      </time>
      {% if page.author %}
        {% assign author = site.data.authors[page.author] %}
        <span itemprop="author" itemscope
              itemtype="http://schema.org/Person">
          <meta itemprop="name" content="{{ author.name }}">
        </span>
        <span itemprop="publisher" itemscope
              itemtype="http://schema.org/Organization">
          <meta itemprop="name" content="{{ author.name }}">
          <span itemprop="logo" itemscope
                itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="{{ author.picture }}">
            <meta itemprop="width" itemtype="https://schema.org/Distance" content="60">
            <meta itemprop="height" itemtype="https://schema.org/Distance" content="60">
          </span>
        </span>
        <span itemprop="image" itemscope
              itemtype="http://schema.org/ImageObject">
          <meta itemprop="url" content="{{ author.picture }}">
          <meta itemprop="width" itemtype="https://schema.org/Distance" content="60">
          <meta itemprop="height" itemtype="https://schema.org/Distance" content="60">
        </span>
      {% endif %}
    </div>
  </header>

  <section class="content lh-copy" itemprop="articleBody">
    {{ content }}
    {% include classify-elements.html %}
  </section>

  <footer class="post-footer mt4 bt bb b--black-10">
    {% if page.tags %}
      <p class="meta tags">
        <span class="label">tags:</span>
        {% for tag in page.tags %}
          <a href="{{ tag | slugify | append: '/' | prepend: '/tag/' | prepend: site.base_url }}" class="ml3 black-70">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </footer>
</article>
