---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="header">
    <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %}
        <span class="sep">•</span>
        <span itemprop="author" itemscope
              itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <section class="content" itemprop="articleBody">
    {{ content }}
  </section>

  <footer class="footer">
    {% if page.tags %}
      <p class="meta tags">
        <span class="label">#:</span>
        {% for tag in page.tags %}
          {% unless forloop.first %}<span class="sep">,</span>{% endunless %}
          <a href="{{ tag | slugify | append: '/' | prepend: '/tag/' | prepend: site.base_url }}">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </footer>
</article>
