---
layout: default
---

<article class="presentation">
  <header class="header">
    {% assign index_url = page_url index | prepend: '/' %}
    {% unless page.url == index_url %}
      <h1 class="title lh-title f2 f1-l mt4 mb1 f1-l measure-wid">{{ page.title }}</h1>
    {% endunless %}
    <div class="presentation-meta f6 black-50">
      Location: {{ page.location | default: 'Unknown' }}<br>
      {% if page.tags contains "workshop" %}Workshop Led{% else %}Presented{% endif %}: {{ page.date | date: '%b %-d, %Y' }}
    </div>
  </header>

  <section class="content lh-copy">
    {{ content }}
    {% include classify-elements.html %}
  </section>
</article>
